## Ignore custom bash files
bash.d/bash5*_*
zsh.d/zsh5*_*

## Ignore compiled files
*.elc

## Ignore installed files
emacs.d/etc/
emacs.d/site-lisp/org/
emacs.d/site-lisp/yaml-mode.el
emacs.d/share/
info/
