## Ignore custom bash files
bash.d/bash5*_*

## Ignore compiled files
*.elc

## Ignore installed files
emacs.d/etc/
emacs.d/site-lisp/ob-C.el
emacs.d/site-lisp/ob-R.el
emacs.d/site-lisp/ob-asymptote.el
emacs.d/site-lisp/ob-awk.el
emacs.d/site-lisp/ob-calc.el
emacs.d/site-lisp/ob-clojure.el
emacs.d/site-lisp/ob-comint.el
emacs.d/site-lisp/ob-css.el
emacs.d/site-lisp/ob-ditaa.el
emacs.d/site-lisp/ob-dot.el
emacs.d/site-lisp/ob-emacs-lisp.el
emacs.d/site-lisp/ob-eval.el
emacs.d/site-lisp/ob-exp.el
emacs.d/site-lisp/ob-fortran.el
emacs.d/site-lisp/ob-gnuplot.el
emacs.d/site-lisp/ob-haskell.el
emacs.d/site-lisp/ob-io.el
emacs.d/site-lisp/ob-java.el
emacs.d/site-lisp/ob-js.el
emacs.d/site-lisp/ob-keys.el
emacs.d/site-lisp/ob-latex.el
emacs.d/site-lisp/ob-ledger.el
emacs.d/site-lisp/ob-lilypond.el
emacs.d/site-lisp/ob-lisp.el
emacs.d/site-lisp/ob-lob.el
emacs.d/site-lisp/ob-matlab.el
emacs.d/site-lisp/ob-maxima.el
emacs.d/site-lisp/ob-mscgen.el
emacs.d/site-lisp/ob-ocaml.el
emacs.d/site-lisp/ob-octave.el
emacs.d/site-lisp/ob-org.el
emacs.d/site-lisp/ob-perl.el
emacs.d/site-lisp/ob-picolisp.el
emacs.d/site-lisp/ob-plantuml.el
emacs.d/site-lisp/ob-python.el
emacs.d/site-lisp/ob-ref.el
emacs.d/site-lisp/ob-ruby.el
emacs.d/site-lisp/ob-sass.el
emacs.d/site-lisp/ob-scala.el
emacs.d/site-lisp/ob-scheme.el
emacs.d/site-lisp/ob-screen.el
emacs.d/site-lisp/ob-sh.el
emacs.d/site-lisp/ob-shen.el
emacs.d/site-lisp/ob-sql.el
emacs.d/site-lisp/ob-sqlite.el
emacs.d/site-lisp/ob-table.el
emacs.d/site-lisp/ob-tangle.el
emacs.d/site-lisp/ob.el
emacs.d/site-lisp/org-agenda.el
emacs.d/site-lisp/org-archive.el
emacs.d/site-lisp/org-ascii.el
emacs.d/site-lisp/org-attach.el
emacs.d/site-lisp/org-bbdb.el
emacs.d/site-lisp/org-beamer.el
emacs.d/site-lisp/org-bibtex.el
emacs.d/site-lisp/org-capture.el
emacs.d/site-lisp/org-clock.el
emacs.d/site-lisp/org-colview-xemacs.el
emacs.d/site-lisp/org-colview.el
emacs.d/site-lisp/org-compat.el
emacs.d/site-lisp/org-crypt.el
emacs.d/site-lisp/org-ctags.el
emacs.d/site-lisp/org-datetree.el
emacs.d/site-lisp/org-docbook.el
emacs.d/site-lisp/org-docview.el
emacs.d/site-lisp/org-entities.el
emacs.d/site-lisp/org-eshell.el
emacs.d/site-lisp/org-exp-blocks.el
emacs.d/site-lisp/org-exp.el
emacs.d/site-lisp/org-faces.el
emacs.d/site-lisp/org-feed.el
emacs.d/site-lisp/org-footnote.el
emacs.d/site-lisp/org-freemind.el
emacs.d/site-lisp/org-gnus.el
emacs.d/site-lisp/org-habit.el
emacs.d/site-lisp/org-html.el
emacs.d/site-lisp/org-icalendar.el
emacs.d/site-lisp/org-id.el
emacs.d/site-lisp/org-indent.el
emacs.d/site-lisp/org-info.el
emacs.d/site-lisp/org-inlinetask.el
emacs.d/site-lisp/org-install.el
emacs.d/site-lisp/org-irc.el
emacs.d/site-lisp/org-jsinfo.el
emacs.d/site-lisp/org-latex.el
emacs.d/site-lisp/org-list.el
emacs.d/site-lisp/org-lparse.el
emacs.d/site-lisp/org-mac-message.el
emacs.d/site-lisp/org-macs.el
emacs.d/site-lisp/org-mew.el
emacs.d/site-lisp/org-mhe.el
emacs.d/site-lisp/org-mks.el
emacs.d/site-lisp/org-mobile.el
emacs.d/site-lisp/org-mouse.el
emacs.d/site-lisp/org-odt.el
emacs.d/site-lisp/org-pcomplete.el
emacs.d/site-lisp/org-plot.el
emacs.d/site-lisp/org-protocol.el
emacs.d/site-lisp/org-publish.el
emacs.d/site-lisp/org-remember.el
emacs.d/site-lisp/org-rmail.el
emacs.d/site-lisp/org-special-blocks.el
emacs.d/site-lisp/org-src.el
emacs.d/site-lisp/org-table.el
emacs.d/site-lisp/org-taskjuggler.el
emacs.d/site-lisp/org-timer.el
emacs.d/site-lisp/org-vm.el
emacs.d/site-lisp/org-w3m.el
emacs.d/site-lisp/org-wl.el
emacs.d/site-lisp/org-xoxo.el
emacs.d/site-lisp/org.el
emacs.d/site-lisp/yaml-mode.el
